@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #e0f7fa;
    }

    h1 {
        color: #004d40; 
    }

    p {
        color: #004d40;
    }

    a {
        color: #004d40;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>Scopri di più su <a href="https://learn.microsoft.com/aspnet/core" style="text-decoration: none;">come costruire Web apps con ASP.NET Core</a>.</p>
</div>
