@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: #e0f7fa; 
    }

    h1 {
        color: #004d40; 
    }

    p {
        color: #004d40; 
        font-size: 16px; 
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
